html {
  font-size: 13px;
  background-color: #fff6eb;
}

body {
  margin: 0;
  padding: 0;
  font-family: Courier;
  text-align: center;
  font-size: 1.5em;
}

header {
  background-color: #ea6e5f;
  padding: 20px 0;
  box-shadow: 0 0 5px #ea6e5f;
}

main {
  text-align: center;
  margin: 0 auto;
}

div {
  display: block;
}

button {
  display: inline-block;
  box-shadow: 0 0 5px #ea6e5f;
  background-color: #ea6e5f;
  border: 2px solid #ea6e5f;
  border-radius: 20px;
}

#instruct{
  padding-top: 5px;
}

.btn {
  margin: 5px auto;
  padding: 0 10px;
  width: 150px;
  height: 100px;
  font-size: 1.2em;
}

hr {
  max-width: 400px;
}

#roundResult {
  margin: 20px;
}

div.score {
  margin: auto 0;
  display: inline-block;
  background-color: #ea6e5f;
  border-radius: 20px;
  box-shadow: 0 0 5px #ea6e5f;
  width: 200px;
  height: 125px;
}

.score h4 {
  margin: 15% auto;
}

#gameWinner {
  margin: 20px auto;
}

#reset{
  width: 100px;
  height: 50px;
  font-weight: bold;
  border-radius: 12px;
}

.hidden {
  visibility: hidden;
}

button:hover {
  box-shadow: 0 0 10px #ea6e5f;
  background-color: #74ec89;
}
